@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');









:root {
  --bluebackground:#171D3D;
  --darkblue:#1b2248;
  --pinkneon:#FF00F2;
  --pinklightneon:#ff5ce4;
  --greenneon:#00ffcc;
  --lightpink:#b889f6;
  --lightgreen:#9FFFEC;
  --gradtitlegreen:linear-gradient(13deg, #00ffcc, #9FFFEC);
  --gradtitlepink:linear-gradient(13deg, #ff5ce4, #C294FD);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg {
  vertical-align: middle;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--bluebackground);
}

body.overflow {
  overflow: hidden;
}

.main {
  margin: 0 auto;
  width: 100%;
  min-height: calc(100vh - 342px);
  display: flex;
  flex-direction: column;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.titre_section {
  margin: 150px auto 0;
  font-weight: 700;
  font-size: max(4vw, 30px);
  color: var(--lightgreen);
  opacity: 0.5;
  text-transform: uppercase;
}

.points_gauche {
  position: absolute;
  left: 0;
  top: 140px;
  z-index: -1;
}

.points_droit {
  position: absolute;
  right: 0;
  bottom: -50px;
  z-index: -1;
}








/* --------------------------------- NAV --------------------------------- */
nav {
  z-index: 999;
  width: 100%;
  height: 100px;
  padding: 1rem;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 50%;
  gap: 20px;
  transform: translateX(-50%);
  transition: 0.2s;
}


nav.scroll{
  height: 95px;
  background-color: var(--darkblue);
  transition: 0.3s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

nav .logo {
  margin: auto;
  transition: 100ms;
  width: 80px;
  transition: 200ms;
  cursor: pointer;
}

nav .logo:hover{
  transform: scale(1.1);
  transition: 500ms;
  transition-timing-function: cubic-bezier(.75, -3, .25, 4);
}

nav .nav_list {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: flex-end;
  align-items: center;
}

nav .nav_list a {
  margin: 20px auto;
  text-transform: uppercase;
  font-weight: 1000;
  color: white;
  position: relative;
}

nav .nav_list a.active::before {
  margin: 20px auto;
  text-transform: uppercase;
  font-weight: 1000;
  color: white;
  position: relative;
}

nav .nav_list a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  width: 0;
  height: 2px;
  border-radius: 10px;
  background-color: var(--lightgreen);
  transition: 300ms ease;
}

nav .nav_list a:hover::before {
  width: 85%;
  transition: 300ms ease;
}

nav .burger {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  display: none;
}

nav .burger i.menu {
  color: white;
  display: none;
  cursor: pointer;
}

nav .burger i.close {
  color: red;
  display: none;
  cursor: pointer;
}

nav .burger i.menu.active {
  color: white;
  display: flex;
  cursor: pointer;
}

nav .burger i.close.active {
  color: red;
  display: flex;
  cursor: pointer;
}

/* --------------------------------- FIN NAV --------------------------------- */









/* --------------------------------- FOOTER --------------------------------- */

footer{
  margin: 100px auto 0;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--darkblue);
  font-size: 12px;
}

footer .footer_ligne {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  justify-content: space-between;
  gap: 30px;
}

footer .footer_ligne .footer_item {
  margin: 0;
  padding: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

footer .footer_ligne .footer_item h3 {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

footer .footer_ligne a {
  color: white;
}

footer .footer_ligne a:hover {
  color: var(--lightgreen);
}

footer hr {
  margin: 10px auto;
  width: 100%;
  height: 1px;
  background-color: var(--lightgreen);
  border: none;
}


@media (max-width :525px) {
  footer .footer_ligne {
    justify-content: center;
  }

  footer .footer_ligne .footer_item {
    justify-content: center;
    text-align: center;
  }

  footer .footer_ligne #reseaux {
    justify-content: center;
  }
}








/* --------------------------------- ACCUEIL --------------------------------- */

.accueil {
  margin: 0 auto;
  display: flex;
  z-index: 98;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: url(../ressources/back.png);
  background-position: center center;
  background-size: cover;
}

.accueil .profil {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  color: white;
  padding: 2rem;
  gap: 10px;
}

.accueil .left .liens {
  position: absolute;
  bottom: -80px;
  left: calc(1rem + 5px);
  width: 100%;
  min-width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
}

.accueil .left .liens .trait {
  width: 70%;
  min-width: 100px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--lightgreen);
}

.accueil .left .liens .reseaux {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.hexagone {
  width: 50px;
  height: 50px;
  background: var(--lightpink);
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagone i {
  font-size: 30px;
  color: white;
}

.accueil .profil .left {
  margin: auto;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

.accueil .profil .right {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.accueil .right .liens_vert {
  position: absolute;
  display: none;
  top: 0;
  right: 5px;
  width: 50px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.accueil .right .liens_vert .trait {
  width: 2px;
  height: 150px;
  border-radius: 10px;
  background-color: var(--lightgreen);
}

.accueil .right .liens_vert .reseaux {
  width: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.accueil .profil .left h1 {
  font-size: max(6vw,40px);
  font-family: 'Poppins', sans-serif;
  background: var(--gradtitlegreen);
  opacity: 0.8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accueil .profil .left .mon_nom {
  font-size: max(3vw,25px);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: var(--gradtitlepink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accueil .profil .left p {
  margin: 20px 5px;
  max-width: 700px;
}

.accueil .profil .left .btn-cv {
  margin: 10px 5px;
  border: solid 1px var(--lightgreen);
  z-index: 0;
  width: 250px;
  height: 55px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}

.accueil .profil .left .btn-cv:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--lightgreen);
  transition: all 0.3s ease-in-out;
}

.accueil .profil .left .btn-cv:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.accueil .profil .left .btn-cv:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}

.accueil .right .photo_profil {
  margin: auto;
  width: 280px;
  height: 280px;
  border-radius: 20px;
  background-color: var(--lightgreen);
  transform: rotate(5deg);
  position: relative;
}

.accueil .right .photo_profil img {
  position: absolute;
  bottom: 0;
  left: 42%;
  transform: translate(-50%);
  width: 100%;
}











.etudes {
  margin: 0 auto;
  display: flex;
  z-index: 98;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  position: relative;
}

.liste-etudes {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 900px;
  height: auto;
  background-color: var(--darkblue);
  color: white;
  box-shadow:0px 0px 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

.liste-etudes:hover {
  box-shadow:0px 0px 50px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.etude {
  position: relative;
  margin: 20px auto;
  display: flex;
  width: 100%;
}

.etude .left {
  margin: 0 auto;
  width: 100px;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.etude .left iconify-icon {
  margin: 0 auto;
}

.line {
  margin: 5px auto;
  width: 1px;
  height: 95px;
  background-color: var(--lightgreen);
}

.etude .right {
  margin: auto;
  width: 100%;
  height: 100%;
  padding-right: 5px;
}











.competences {
  margin: 0 auto;
  display: flex;
  z-index: 98;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
}

.liste-competences {
  margin: 30px auto;
  width: 80vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1vw;
  font-size: 12px;
}

.competence {
  position: relative;
  margin: 30px auto;
  width: 450px;
  height: 350px;
  background: var(--darkblue);
  color: white;
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.150);
  cursor: pointer;
 /* transition: 0.3s; */
}

.titre-competence {
  position: absolute;
  width: 100%;
  top: 85px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color:white;
}

.titre-competence h4 {
  position: absolute;
  width: 100%;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.icone-competence {
  position: relative;
  margin: 5px auto;
  width: 50px;
  padding: 40px;
  border-radius: 50%;
  border: solid 2px var(--lightgreen);
}

.icone-competence svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  fill: white;
}


.desc-competence {
  position: absolute;
  width: 90%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  color:white;
}

.competence:hover {
  box-shadow:0px 0px 50px rgba(0, 0, 0, 0.170);
}

.competence:hover .icone-competence {
  background-color: #9fffec23;
}









.projets {
  margin: 0 auto;
  display: flex;
  z-index: 98;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
  position: relative;
}

.liste_projets{
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  max-width: 1150px;
  justify-content: space-between;
  gap: 30px;
}

.projet {
  margin: 0 auto;
  color: white;
  cursor: pointer;
  box-shadow:0px 0px 50px rgba(0, 0, 0, 0.2);
  max-width: 550px;
  width: 100%;
  max-height: 270px;
  height: 100%;
  background: var(--darkblue);
  position: relative;
  overflow: hidden;
}

.projet img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.projet .projet_desc {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.765);
  transition: 0.2s ease;
}

.projet .projet_desc h3 {
  margin: 10px auto;
  font-size: 30px;
}

.projet .projet_desc span {
  color: var(--lightpink);
}

.projet .projet_desc a {
  text-decoration: underline;
  color: var(--lightgreen);
}

.projet:hover .projet_desc {
  transform: translateY(0);
  transition: 0.3s ease;
}

.projet_desc a.btn-projet {
  position: relative;
  margin: 5px 0;
  border: solid 1px var(--lightgreen);
  z-index: 0;
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.projet_desc .btn-projet:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--lightgreen);
  transition: all 0.3s ease-in-out;
}

.projet_desc .btn-projet:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.projet_desc .btn-projet:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}













.certifs {
  margin: 0 auto;
  display: flex;
  z-index: 98;
  flex-direction: column;
  width: 100%;
  font-size: 12px;
}

.liste-certifs {
  margin: 30px auto;
  width: 80vw;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2vw;
}

.certif {
  position: relative;
  margin: 30px auto;
  width: 350px;
  height: 350px;
  background: var(--darkblue);
  color: white;
  box-shadow:0px 0px 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

.certif:hover {
  transform: scale(1.05,1.05);
  transition: 0.3s;
  box-shadow:0px 0px 50px rgba(0, 0, 0, 0.3);
}

.date-certif {
  position: absolute;
  top: 20px;
  right: 20px;
}

iconify-icon {
  vertical-align: middle;
}

.titre-certif {
  position: absolute;
  top: 25%;
  left: 20px;
}

.stitre-certif {
  position: absolute;
  top: 42%;
  left: 20px;
}

.desc-certif {
  position: absolute;
  top: 52%;
  left: 20px;
}

.btn-certif {
  position: absolute;
  top: 65%;
  left: 20px;
  margin: 50px auto;
  border: solid 1px var(--lightgreen);
  z-index: 0;
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-certif:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--lightgreen);
  transition: all 0.3s ease-in-out;
}

.btn-certif:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.btn-certif:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}









.veille {
  margin: 130px auto 0;
  z-index: 98;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  font-size: 12px;
  padding: 1rem;
  color: white;
}

.veille h2 {
  margin: 0 auto;
}

.veille .liste_veille {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 2000px;
  gap: 20px;
}

.veille .liste_veille .carte_veille {
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: var(--darkblue);
  border-radius: 10px;
  gap: 20px;
}

.veille .liste_veille .carte_veille p {
  margin: 10px 0;
}

.carte_veille .btn-veille {
  margin: 20px 0;
  border: solid 1px var(--lightgreen);
  z-index: 0;
  width: 200px;
  height: 55px;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}

.carte_veille .btn-veille:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--lightgreen);
  transition: all 0.3s ease-in-out;
}

.carte_veille .btn-veille:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.carte_veille .btn-veille:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}









.mentions {
  margin: 150px auto 0;
  z-index: 98;
  width: 100%;
  max-width: 1900px;
  font-size: 12px;
  padding: 1rem;
  color: white;
}

.mentions h1 {
  font-size: 30px;
}

.mentions h3 {
  font-size: 15px;
}

.mentions a {
  text-decoration: underline;
  color: var(--lightgreen);
}












/* --------------------------------- RESPONSIVE --------------------------------- */


@media (min-width:2000px) {
  .accueil .profil .left h1 {
    font-size: 110px;
  }
  
  .accueil .profil .left .mon_nom {
    font-size: 50px;
  }

  .titre_section {
    font-size: 80px;
  }
}

@media (max-height:775px) {
  .accueil .profil {
    margin: 80px auto 0;
  }
}

@media (max-width:755px) {
  .accueil .profil {
    padding: 5px;
    flex-direction: column;
  }

  .accueil .left .liens {
    display: none;
  }

  .accueil .right .liens_vert {
    display: flex;
  }

  nav .logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  nav .nav_list {
    display: none;
    right: -100%;
    transition: 300ms ease;
  }

  nav .nav_list.active{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bluebackground);
    transition: 300ms ease;
  }

  nav .burger {
    display: flex;
  }

  .accueil .right .photo_profil {
    margin: 50px 15vw;
  }
}

@media (max-width:650px) {
  .stage {
    width: 400px;
    height: 300px;
  }

  .stage .titre_stage {
    top: 78%;
  }

  .btn-stage {
    width: 130px;
  }
}

@media (max-width:625px) {
  .points_gauche {
    display: none;
  }
  
  .points_droit {
    display: none;
  }
}

@media (max-width:565px) {
  .projet .projet_desc {
    padding: 5px;
  }

  .projet .projet_desc h3 {
    margin: 2% auto;
    font-size: max(1vw ,15px);
  }

  .projet .projet_desc p {
    font-size: max(2.5vw, 8px);
  }

  .projet .projet_desc .btn-projet {
    width: 100px;
  }
}

@media (max-width:525px) {
  .line {
    height: 130px;
  }

  .points_gauche {
    display: none;
  }
  
  .points_droit {
    display: none;
  }
}

@media (max-width:500px) {
  .accueil .right .photo_profil {
    margin: 50px 5px 5px 10vw;
    transform: rotate(0);
    width: 180px;
    height: 230px;
    border-radius: 0;
    background-color: transparent;
  }

  .accueil .right .photo_profil img {
    bottom: 0;
    left: 50%;
    width: 300px;
    height: 300px;
  }
}

@media (max-width:490px) {
  .stage {
    width: 300px;
    height: 200px;
  }

  .stage .titre_stage {
    top: 82%;
    font-size: 12px;
  }

  .btn-stage {
    bottom: -19%;
    width: 100px;
    height: 30px;
  }
}

@media (max-width:420px) {
  .titre-competence h4 {
    font-size: 18px;
  }

  .desc-competence {
    font-size: 12px;
  }
}

@media (max-width:370px) {
  .accueil .right .photo_profil img {
    bottom: 0;
    width: 250px;
    height: 250px;
  }

  .accueil .right .photo_profil {
    margin: 5px 5px 5px 2vw;
  }

  .accueil .profil .left .btn-cv {
    width: 200px;
  }
}