@import url('init.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.liste_projets {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.liste_projets hr {
    width: 100%;
    height: 1px;
    outline: none;
    border: none;
    background: var(--c-grey);
    border-radius: 6px;
}

.projet {
    color: var(--c-text-color);
    width: 100%;
    height: 100%;
    /* background: var(--c-background);
    border-top: solid 3px var(--c-secondary-color);
    border-radius: 6px; */
    padding: 1rem;
    display: flex;
    gap: 30px;
    align-items: center;
}

.projet img {
    object-fit: cover;
    width: 100%;
    max-width: 550px;
    min-width: 250px;
    height: 100%;
    border-radius: 6px;
}

.projet .description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.projet .description h3 {
    color: var(--c-text-color);
    font-size: 30px;
}

.projet .description .technos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projet .description .technos p {
    width: max-content;
    padding: 10px 15px;
    border-radius: 6px;
    background: var(--c-secondary-color);
    color: var(--c-text-color);
    cursor: pointer;
    position: relative;
}

.projet .description .technos p:hover {
    color: var(--c-background);
    background: var(--c-primary-color);
}

.projet .description p {
    color: var(--c-grey);
    font-size: 18px;
    line-height: 1.5em;
}

.projet .description a {
    color: var(--c-primary-color);
}

.projet .description a:hover span {
    transform: translateY(-3px);
    transition: all 0.2s ease;
}

.projet .description a span {
    color: var(--c-primary-color);
    transition: all 0.2s ease;
    font-size: 18px;
}

.projet .description a.goToProject {
    margin: auto auto 0 0;
    padding: 1rem 2rem;
    color: var(--c-grey);
    border: solid 1px var(--c-primary-color);
    font-size: 20px;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s ease;
}

.projet .description a.goToProject:hover {
    color: var(--c-background);
    transition: all 0.5s ease;
}

.projet .description a.goToProject::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--c-primary-color);
    border-radius: 4px;
    transition: all 0.3s ease;
}

.projet .description a.goToProject:hover::before {
    width: 100%;
    transition: all 0.5s ease;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@media (max-width:1280px) {
    .projet {
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .projet .description p {
        font-size: 15px;
    }

    .projet .description a span {
        font-size: 15px;
    }

    .projet .description a.goToProject {
        font-size: 18px;
    }
}