<div class="footer_button">
    <div class="touche" id="laTouche">
        <p onclick="enableFooter()" id="touche">!</p>
    </div>
</div>

<footer class="footer" id="footer">
    <div class="footer_content">
        <div class="footer_list">
            <a href="" class="footer_item">Mentions légales</a>
            <a href="" class="footer_item">Contact</a>
        </div>
        <span>
            <p id="year"></p>
            <p>Website by Wustenberghs Théo.</p>
        </span>
    </div>

    <span onclick="disableFooter()" class="material-symbols-rounded close_footer">close</span>

    <img src="./ressources/icone_footer.png" alt="">
</footer>

<script src="./js/footer.js"></script>